.contacts {
  display: none;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &--footer {
    display: flex;
    gap: 8px;
    @media screen and (min-width: 1200px) {
      flex-direction: column;
    }
  }
}

.contacts__link {
  color: var(--color-text-light);
  display: flex;
  align-items: center;

  &--margin {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    .contacts__icon {
      fill: var(--color-focus);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include fonts(12px, 14px, 500, 0.02em);
  }

  &--footer-style {
    display: block;
    @include fonts(14px, 24px);

    color: rgba(255, 255, 255, 0.6);

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &--white {
    color: var(--color-text-white);
  }
}

.contacts__icon {
  fill: var(--color-text-light);
  transition: fill var(--animation);
  margin-right: 10px;

  /* only tablet */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
    &--size {
      width: 10px;
      height: 14px;
    }
  }
}
