.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @extend %container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-button {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  display: inline-flex;
  text-align: center;

  transition: color var(--animation);
  background-color: transparent;
  border: none;

  cursor: pointer;

  &:active {
    color: var(--color-focus);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__menu-icon {
  fill: currentColor;
}
