.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_sm@1x.jpg);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_md@1x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_lg@1x.jpg);
  }

  background-repeat: no-repeat;
  background-position: center;
  @include padding_up_down(118px, 118px);

  @media screen and (min-width: 1200px) {
    @include padding_up_down(200px, 200px);
  }
}

.hero__container {
  @extend %container;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  @include fonts(26px, 42px, 900, 0.06em);

  text-transform: uppercase;
  color: var(--color-text-white);

  width: 360px;
  margin-left: calc(50% - 360px / 2);
  transform: scale(0.8);
  transition: transform var(--animation);

  @media screen and (min-width: 768px) {
    transform: scale(1);
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    @include fonts(44px, 60px, 900, 0.06em);
    margin-left: calc(50% - 696px / 2);
  }
}

.hero__btn {
  padding: 10px 32px;
}
