.team {
  @extend %section;
  background-color: var(--color-bg-light);
}

.team__container {
  @extend %container;
}

.team__list {
  @extend %list-style;
}

.team__item {
  background-color: var(--color-bg-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);

  @include flexbasis($team-items-mobile);

  @media screen and (min-width: 768px) {
    @include flexbasis($team-items-tablet);
  }

  @media screen and (min-width: 1200px) {
    @include flexbasis($team-items);
  }
}

.team__wrapper {
  @include padding_up_down(30px, 16px);
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  @include fonts(16px, 19px, 500);
  color: var(--color-text-darck);
}

.team__profession {
  text-align: center;
  @include fonts(16px, 19px);
  color: var(--color-text-light);
}
