.btn {
  font-family: inherit;
  @include fonts(16px, 30px, 700, 0.06em);
  color: var(--color-text-white);
  background-color: var(--color-focus);
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
