.title {
  font-size: inherit;
  @include fonts(14px, 16px, 700);
  text-transform: uppercase;
  text-align: center;

  &--mode-light {
    margin-bottom: 20px;
    color: var(--color-text-white);
  }

  &--margin {
    margin-bottom: 10px;
  }

 
  @media screen and (min-width: 768px) {
    text-align: left;
  }

  &--text-center {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: center;
    }
  }
}
